body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.contrackerGrid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.contracker{
  background-image: url(/public/assets/Contracker.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  max-width: 1000px;
  width: 1000px;
  max-height: 600px;
  height: 600px;
}

.buttonGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 80px;
  width: 300px;
  margin-top: 60px;
  margin-left: 150px;
}

.emblem{
  height: 100px;
  width: 100px;
}

.emblem:hover{
  opacity: 80%;
}

.briefing{
  grid-column: 1/4;
  background-color: #F39157;
  color: #B8383B;
  border-radius: 50px;
  border: solid #B8383B ;
  border-width: medium;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  text-align: center;
}

.briefing:hover{
  opacity: 80%
}


.infoBox{
  width: 320px;
  height: 220px;
  margin-top: 110px;
  margin-left: 70px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.mercIcon{
  height: 125px;
  width: 125px;
}

.job{
  padding-top: 15px;
  margin-right: 50px;
  font-size: 22px;
}
.activity{
  top: 100px;
  left: 10px;
  grid-column: 1 / 3;
  font-size: 20px;
}

.merc{
  position: absolute;
  bottom: 0;
  right: 20px;
  height: 80%;
  width: auto;
}

.merc:hover{
  filter:brightness(80%);
}

.game-box{
  background-color: rgba(128, 128, 128, 0.478);
  margin: 20px 300px 50px 50px;
  height: 450px;
  max-height: 450px;
  border-radius: 20px;
  display: grid;
  grid-row: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input{
  color: black;
  background-color: #f39057b3;
  height: 50px;
  width: 400px;
  font-size: 30px;
  text-align: center;
}

.backBtn{
  background-color: #F39157;
  color: #B8383B;
  border-radius: 50px;
  border: solid #B8383B ;
  border-width: medium;
  height: 50px;
  width: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}

.submitBtn{
  background-color: #F39157;
  color: #B8383B;
  border-radius: 50px;
  border: solid #B8383B ;
  border-width: medium;
  height: 50px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
}

.submitBtn:hover{
  opacity: 80%;
}
.backBtn:hover{
  opacity: 80%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C3E3C;
  height: 64px;
  padding-left: 50px;
}

.textBox{
  background-color: #f39057b3;
  height: 125px;
  max-height: 125px;
  width: 400px;
}

.mobileIcon{
  width: 125px;
  display: none;
}

.mercBG{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.scoutBG{
  background-image: url(/public/assets/backgrounds/Dustbowl.jpg);
}
.soldierBG{
  background-image: url(/public/assets/backgrounds/Phoenix.png);
}
.pyroBG{
  background-image: url(/public/assets/backgrounds/2Fort.png);
}
.demomanBG{
  background-image: url(/public/assets/backgrounds/Degroot_Keep.png);
}
.heavyBG{
  background-image: url(/public/assets/backgrounds/Barnblitz.png);
}
.engineerBG{
  background-image: url(/public/assets/backgrounds/Upward.png);
}
.medicBG{
  background-image: url(/public/assets/backgrounds/Process.png);
}
.sniperBG{
  background-image: url(/public/assets/backgrounds/Borneo.jpg);
}
.spyBG{
  background-image: url(/public/assets/backgrounds/Swiftwater.jpg);
}

.title{
  padding-top: 40px;
  text-align: center;
}

.madlibGrid{
  width: 420px;
}
.contrackerInner{
  padding: 0 100px
}

.madLibInput{
  background-color: #f39057b3;
  height: 35px;
  width: 200px;
  font-size: 20px;
  text-align: center;
}


#resultBox{
  background-color: #3C3E3C;
  border: solid #F39157;
  color: white;
  margin: 0 auto;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .contrackerGrid{
    display: flex;
    justify-content: center;
  }
  .infoBox{
      display: none;
  }
    .buttonGrid{
      margin: 50px 0;
  }
}

@media (max-width: 768px) {
  .contracker{
    display: flex;
    justify-content: center;
  }

  .briefing{
      height: 50px;
      font-size: 25px;
  }
  .merc{
      display: none;
  }

  .game-box{
      margin: 0px;
      height: 600px;
      max-height: 600px;
      border-radius: 0px;
      width: 100%;
  }

  .mobileIcon{
      display: flex;
  }

  input{
      width: auto;
  }
  .textBox{
      width: auto;
  }
  .contrackerInner{
    padding: 0px;
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 350px;
  }
  .madlibGrid{
    width: auto;
    margin: 0px 50px
  }
  #resultBox{
    padding: 10px;
  }
}